:root {
    --header-color: rgb(44, 43, 43);
    --section-font: #7393B3;
    --main-background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--header-color);
    padding: 15px 15px 15px 0;
}

header nav {

    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px 20px;
    color: var(--section-font);
    text-decoration: none;
    font-size: 25px;
}

header h1 a{

    color: var(--header-color);
    text-decoration: none;
    font-size: 40px;
}

.my-name {
    background-color: var(--section-font);
    margin-left: 0;
    padding: 4px 10px 4px 100px;
}

.hero {
    background-image: url("../images/subtitle-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.subtitle {
    background-color: var(--section-font);
    padding: 7px;
    margin: 150px 75px 20px 0;
    font-size: 22px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background);
}

.about-me p {
    padding: 25px 80px 0 25px;
}

.section-title {
    font-size: 38px;
    padding: 0 12px 0 110px;
    margin-top: 25px;
    text-align: right;
    color: var(--section-font);
    border-right: 3px solid var(--section-font);
}

.contact-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px 0 25px;
}

.contact-info p {
    padding: 5px;
}

.work {
    display: flex;
    justify-content: space-between;
}


