:root {
    --header-color: rgb(44, 43, 43);
    --section-font: #7393B3;
    --main-background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--header-color);
    padding: 15px 15px 15px 0;
}

header nav {

    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px 20px;
    color: var(--section-font);
    text-decoration: underline;
    font-size: 25px;
}

header h1 a{

    color: var(--header-color);
    text-decoration: none;
    font-size: 40px;
}

.my-name {
    background-color: var(--section-font);
    margin-left: 0;
    padding: 4px 10px 4px 100px;
}

.hero {
    background-image: url("../images/subtitle-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.subtitle {
    background-color: var(--section-font);
    padding: 7px;
    margin: 150px 75px 20px 0;
    font-size: 22px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background);
}

.about-me p {
    padding: 25px 80px 0 40px;
    margin-bottom: 50px;
}

.section-title-about-me, .section-title-work, .section-title-contact-me {
    font-size: 38px;
    padding: 0 12px 10px 110px;
    margin-top: 25px;
    text-align: right;
    color: var(--section-font);
    border-right: 3px solid var(--section-font);
}

.contact-me {
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-background);
    margin-bottom: 15px;
}

.section-title-contact-me{
    padding-left: 52px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 80px 0 25px;
    width: 100%;
}

.contact-info p {
    padding: 0 120px 0 0;
    font-weight: bolder;
    font-size: 20px;
}

.work {
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
}

.work-example-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 180px;
}

.section-title-work {
    padding-left: 120px;
}

.work-example {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
    /*width: 48%;*/
    border: 5px solid var(--section-font);
    margin: 10px 3px 3px 10px;
    align-items: center;
    line-height: 1.5;
    /*background-image: url("../images/subtitle-background.jpg");*/
    background-size: cover;
}

.work-example-title {
    background-color: var(--section-font);
    margin: 0px 20px 20px 0;
    padding: 3px;
}

.first-work-example-title {
    background-color: var(--section-font);
    margin: 150px 20px 20px 0;
    padding: 10px 20px 10px 10px;
    position: absolute;
    font-size: 20px;
}

.work-example-title p {
    font-size: 13px;
} 

.first-work-example-title p {
    font-size: 13px;
} 

.work-example-title h4 {
    font-size: 20px;
}

.first-work-example-title h4 {
    font-size: 20px;
}

#first-work-example {
    flex: 1 1 800px;
    height: 250px;
    /*background-image: url("../images/run-buddy-screenshot.jpg");*/
    opacity: 0.7;
}

#run-buddy-screenshot {
    width: 100%;
    height: 100%;
}


