:root {
    --header-color: rgb(44, 43, 43);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--header-color);
    padding: 15px 15px 15px 0;
}

header nav {

    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px 20px;
    color: aquamarine;
    text-decoration: none;
    font-size: 25px;
}

header h1 a{

    color: var(--header-color);
    text-decoration: none;
    font-size: 40px;
}

.my-name {
    background-color: aquamarine;
    margin-left: 0;
    padding: 4px 10px 4px 100px;
}


